products/stan_fits/*
model_files/__pycache__
analysis/__pycache__
.DS_Store
analysis/.DS_Store
data/.DS_Store
model_files/.DS_Store
products/.DS_Store
products/snpy_SNS/.DS_Store
products/snpy_SNS/snana_copies/
plots/
useful_scripts/
products/DFs/
analysis/build/
sbc/BAYESN_GITHUB/bayesn-model-files/
sbc/BAYESN_GITHUB/bayesn-public/
sbc/BAYESN_GITHUB/pysynphot_downloads/
sbc/model_files/__pycache__/
sbc/build/
sbc/products/
sbc/DLAMS/DLAM_NEW.txt
model_files/stan_files/deviations_model_fit_mags_Gaussianmuintref_Full.stan
analysis/PERSONAL/
sbc/PERSONAL/
.ipynb_checkpoints/
build/
model_files/stan_files/Extra/
